.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-ease);

  &.variant-solid {
    padding: 14px 32px;
    color: #fff;
    background: var(--text-color);
    border-radius: 5px;
  }

  &.variant-outline {
    position: relative;
    width: 178px;
    height: 31px;
    font-size: 36px;
    font-family: var(--font-secondary);

    .bg-img {
      z-index: 1;
    }

    .bg-img svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
