---
import App from "../layouts/App.astro";
import { Section, H1, H2, Image, Icon } from "@ui";
import { TheForm } from "@components";

const tours = [
  "В поисках северного сияния",
  "Выходные по местам силы",
  "Мурманск",
  "На встречу к обитателям моря",
  "Путешествие по краю света",
  "Саамская деревня",
  "Путешествие в мир северных оленей и сибирских хаски",
  "Фототур с Натальей Могилевской",
  "Этнодеревня и хибины",
  "В поисках северного сияния",
  "Выходные по местам силы",
  "Мурманск",
];
---

<App title="Отзывы">
  <main>
    <!-- Hero -->
    <Section name="hero">
      <Fragment slot="header">
        <div class="bg">
          <video
            class="bg-video"
            autoplay
            muted
            loop
            poster="./assets/img/hero/reviews.png"
          >
            <source src="./assets/videos/reviews.mp4" type="video/mp4" />
          </video>
          <Image class="bg-image" src="hero/reviews.png" />
        </div>
      </Fragment>

      <div class="hero__content">
        <H1>Отзывы</H1>
        <p class="hero__content-desc">
          Самое приятное в нашей работе - получать восторженные отзывы от Вас!
        </p>
        <div
          class="btn variant-outline"
          role="button"
          aria-label="Записаться на тур"
          tabindex="0"
          data-modal="form"
        >
          <span>Записаться на тур</span>
          <div class="bg-img">
            <svg
              width="180"
              height="32"
              viewBox="0 0 180 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M19.5 1H1V31H141.5M43.5 1H179V31H167.5" stroke="#ffffff"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </Section>

    <!-- Gallery -->
    <Section name="gallery">
      <div class="gallery__swiper">
        <div class="swiper">
          <div class="swiper-wrapper">
            {
              Array.from({ length: 5 }).map((item, index) => (
                <div
                  class="swiper-slide"
                  data-fancybox="reviews"
                  data-src={`./assets/img/reviews/${index + 1}.png`}
                >
                  <Image src={`reviews/${index + 1}.png`} />
                  {(index == 1 || index == 3) && (
                    <div class="play-btn">
                      <Icon src="play.svg" />
                    </div>
                  )}
                </div>
              ))
            }
          </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </Section>

    <!-- Application -->
    <Section name="application">
      <TheForm />
    </Section>

    <!-- North beautiful -->
    <Section name="north">
      <H2>Север прекрасен</H2>
      <div class="swiper">
        <div class="swiper-wrapper">
          {
            Array.from({ length: 9 }).map((item, index) => (
              <div
                class="swiper-slide"
                data-fancybox="gallery-north"
                data-src={`./assets/img/gallery/north/${index + 1}.png`}
              >
                <Image src={`gallery/north/${index + 1}.png`} />
              </div>
            ))
          }
        </div>
      </div>
    </Section>
  </main>
</App>
