---
import App from "../layouts/App.astro";
import { Section, H1, H2, Image, Icon } from "@ui";
import { TheForm } from "@components";

const tours = [
  "В поисках северного сияния",
  "Выходные по местам силы",
  "Мурманск",
];
---

<App title="Выходные по местам силы">
  <main>
    <!-- Hero -->
    <Section name="hero">
      <Fragment slot="header">
        <div class="bg">
          <video
            class="bg-video"
            autoplay
            muted
            loop
            poster="./assets/img/hero/tour-2.png"
          >
            <source src="./assets/videos/tour-2.mp4" type="video/mp4" />
          </video>
          <Image class="bg-image" src="hero/tour-2.png" />
        </div>
      </Fragment>

      <div class="hero__content">
        <H1>Выходные по местам силы</H1>
        <p class="hero__content-desc">
          У Вас есть прекрасная возможность вырваться из городской суеты и <br
          /> погрузиться в мир Самсары, посетить места силы на Кольском полуострове
          и, <br /> зарядившись северной энергией, вернуться к привычному образу
          жизни. <br />
          Такие выходные нужны каждому человеку. <br />
          <br />
          В этот тур мы включили всё по максимуму для Вашего удобства, и чтобы <br
          /> Вы ни о чем не беспокоились.
        </p>
        <div
          class="btn variant-outline"
          role="button"
          aria-label="Записаться на тур"
          tabindex="0"
          data-modal="form"
        >
          <span>Записаться на тур</span>
          <div class="bg-img">
            <svg
              width="180"
              height="32"
              viewBox="0 0 180 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M19.5 1H1V31H141.5M43.5 1H179V31H167.5" stroke="#ffffff"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </Section>

    <!-- tour -->
    <Section name="tour">
      <div class="tour__wrapper">
        <div class="tour__item">
          <h2 class="text-h2">Описание тура</h2>
          <p class="tour__item-desc">
            Тур рассчитан на 3 дня и 2 ночи, но по запросу можно увеличить
            количество дней и ночей.
            <br /><br />
            <strong
              >Первый день - <span class="underline">Мурманск</span></strong
            >
            <br /><br />
            <strong>11:00</strong> Трансфер из аэропорта. <br />
            <strong> 11:30</strong> Заселение в гостиничиный комплекс «Лапландия»
            <br />
            <strong>12:00</strong> Выезд в город, обед в ресторане города.где посетим
            атомный ледокол «Ленин», внешний осмотр и побываем внутри.
            <strong>13:00</strong> Посещение атомного ледокола «Ленин» <br />
            <strong>14:00</strong> Обзорная экскурсия по городу Мурманск. Пройдемся
            по ключевым достопримечательностям, посетим: <br />
            - место основания города – площадь «Пять углов» <br />
            - памятник «Ждущая» <br />
            - памятник «Алеша» <br />
            - мемориальный комплекс, посвященный морякам, погибшим в мирное время.
            <br />
            <strong>18:00</strong> Ужин в ресторане города (включен в стоимость)
            <strong>19:00</strong> Трансфер в гостиничный комплекс «Лапландия»
            <br /><br />
            <strong>
              Второй день - <span class="underline">Териберка</span></strong
            >
            <br /><br />
            <strong>08:00</strong> Завтрак <br />
            <strong>09:00</strong> Выезд в Териберку. <br />
            Продолжительность программы 10-11 часов (зависит от погодных условий
            и состояния дороги), дорогу в одну сторону составит 2-3 часа, по пути
            будут остановки в красивых местах для фотографий и перекуса. По пути
            сразу мы сможем увидеть «кладбище» кораблей. <br />
            <strong>12:00</strong> Морская прогулка. <br />
            Выход в море осуществляется на оборудованном катере под руководством
            опытного капитана. Продолжительность прогулки составляет 2 часа. Судно
            зайдет в места, где наиболее вероятна встреча с горбатыми китами и малыми
            полосатиками. <br />
            Акцентируем ваше внимание на том, что это поездка в дикую природу. 100%
            гарантии вероятности встречи с китами мы не можем, но точно можем говорить,
            что морская прогулка в Териберке – это наслаждение скалистыми берегами,
            птичьими базарами, живописным водопадом и «берегом драконьих яиц». Все
            время вас сопровождают арктический ветер, ледяные волны океана и бескрайние
            морские просторы Арктики.
            <strong>14:00</strong> Арктический обед в ресторане <br />
            <strong>15:00</strong> экскурсия по Териберке. <br />
            Здесь вам предстоит увидеть: <br />
            -незамерзающий водопад <br />
            -каменный пляж из «яиц дракона» <br />
            -песчаный пляж в живописной бухте <br />
            -места съемок картины «Левиафан» А. Звягинцева <br />
            и, конечно же, Северный Ледовитый океан.  <br /><br />
            Если позволит снежный покров, то до незамерзающего водопада мы отправимся
            на снегоходах. (не включен в стоимость) В другом случае отправимся пешком.
            <br />
            Обязательно одевайтесь теплее, на краю землю холоднее, чем в городе.
            <br />
            <strong>17:00</strong> Выезд в город <br />
            <strong>20:00</strong> Ужин в ресторане города <br />
            <strong>21:00</strong> Трансфер в гостиничный комплекс «Лапландия»
            <br /><br />
            <strong>
              Третий день - <span class="underline">Кировск</span>
            </strong>
            <br /><br />
            <strong> 07:00</strong> Завтрак <br />
            <strong>08:00</strong> Освобождение номеров. <br />
            <strong>11:00</strong> Посещение этнической деревни по пути в Кировск.
            <br />  В программе: <br />
            - посещение самого большого чума, который официально занесен в книгу
            рекордов России; <br />
            - истории и легенды о коренных народах Крайнего Севера у горящего очага;
            <br />
            - активные игры (метание аркана, стрельба из лука, саамский футбол) <br
            />
            - уникальные объекты и артефакты саамов; <br />
            - кормление северных оленей, тибетского яка и ослика; <br />
            - обнимашки с хаски и ручными кроликами. <br />
            <strong>13:00</strong> Обед в этнодеревне <br />
            <strong>14:00</strong> Выезд в Кировск <br />
            <strong>15:00</strong> Посещение музейно-выставочного центра «Апатит»,
            впечатляющий огромной коллекцией минералов и интерактивными композициями,
            повествующими о горно-рудных работах, истории освоения Кольского полуострова,
            его флоре и фауне 15:00
            <strong> 16:00 </strong> Подъем на вершину горы Айкуавенчорр по канатной
            дороге. Будете в этот день выше облаков!
            <strong>17:00</strong> Ужин в панорамном ресторане «Плато» <br />
            <strong>19:00</strong> Выезд в аэропорт
            <br /><br />
            В один из вечеров  будет выезд на поиски северного сияния согласно прогнозам.
            Так же мы его сможем застать по дороге из Териберки или Кировска. В таком
            случае мы обязательно остановимся, чтобы сделать красивые фотографии.
          </p>
        </div>
        <div class="tour__item">
          <h2 class="text-h2">В стоимость включено</h2>
          <ul class="tour__item-list">
            <li>Трансфер на комфортабельном транспорте по всему маршруту.</li>
            <li>Экскурсионное сопровождение.</li>
            <li>Завтраки</li>
            <li>Комплексные обеды</li>
            <li>Приветственный ужин в первый день</li>
            <li>Перекусы (чай/кофе, вкусняшки)</li>
            <li>Входные билеты</li>
          </ul>
        </div>
        <div class="tour__item">
          <h2 class="text-h2">Стоимость тура</h2>
          <ul class="tour__item-list">
            <li>Сборная группа - 30000р/чел (3-6 чел)</li>
            <li>Индивидуальная поездка - 81000р/машина (1-2чел)</li>
            <li>
              Стоимость проживания в санатории «Лапландия» в двухместных номерах
              составит 8700р/чел за 2 ночи. (группа 6 человек)
            </li>
            <li>Для детей до 14 лет скидка 500 руб.</li>
          </ul>
          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Забронировать тур"
            data-modal="form"
          >
            Забронировать тур
          </div>
        </div>
      </div>
      <p class="tour__desc">
        Если у Вас возникли вопросы по туру, пожалуйста, свяжитесь с нами по
        телефону +7(921)176-66-69 -мы с удовольствием на них ответим и <br /> подберем
        решение именно для Вас.
      </p>
    </Section>

    <!-- Gallery -->
    <Section name="gallery">
      <H2>Фото из тура</H2>
      <div class="gallery__swiper">
        <div class="swiper">
          <div class="swiper-wrapper">
            {
              Array.from({ length: 6 }).map((item, index) => (
                <div
                  class="swiper-slide"
                  data-fancybox="gallery"
                  data-src={`./assets/img/gallery/tour-2/${index + 1}.jpg`}
                >
                  <Image src={`gallery/tour-2/${index + 1}.jpg`} />
                </div>
              ))
            }
          </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </Section>

    <!-- Application -->
    <Section name="application">
      <TheForm />
    </Section>

    <!-- Tours -->
    <Section name="tours">
      <H2>Смотрите также другие туры</H2>
      <div class="tours__list">
        {
          tours.map((tour, index) => (
            <div class="tours__item">
              <div class="tours__item-img">
                <Image src={`tours/${index + 1}.png`} />
                <div class="tours__item-details">
                  <span>99 999 р/чел</span>
                  <span>3 дня</span>
                </div>
              </div>
              <div class="tours__item-content">
                <div class="tours__item-title">{tour}</div>
                <p class="tours__item-desc">
                  Здесь краткое описание тура и основные преимущества, примерно
                  в две строки
                </p>
                <a
                  href="/tour"
                  class="btn variant-solid"
                  title="Подробнее о туре"
                >
                  Подробнее о туре
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </Section>
  </main>
</App>
